ion-button {
    width: 90%;
    margin: 5%;
}

ion-toggle {
    float: right;
}

.form {
  
   background-color: #576783;
    
}

ion-item {
    --border-color: var(--ion-color-primary, #576783);
}
ion-content{
    background-color: #576783;
}