

<ion-content>
		

<ion-content padding>
	<ion-list>

		<ion-item>
		  <ion-label position="floating">Username</ion-label>
		  <ion-input type="text" [(ngModel)]="username"></ion-input>
		</ion-item>
	  
		<ion-item>
		  <ion-label position="floating">Password</ion-label>
		  <ion-input type="password" [(ngModel)]="password"></ion-input>
		</ion-item>
	  
	  </ion-list>

	   <ion-button fill="solid" expand="block" color="dark" (click)="login()">Login</ion-button>
	   <!-- <ion-button color="light" (click)=" createAnonymousUser()">SignInAnonymously</ion-button><br> -->
	   <!-- <ion-button color="light" (click)="facebookLogin()">fb</ion-button><br> -->
	   <ion-text style="margin-left: 5%;">
		Dont have an account yet? 
	   <!-- <ion-text color="success" routerLink="/signup">Sign up</ion-text> -->
	  </ion-text>
	  <ion-button color="light" (click)="goToRegisterPage()">Sign up</ion-button><br>
	<!-- signInAnonymously -->
	
	</ion-content>